{% extends "base.html.twig" %}


{% block body %}

    <section class="main">
        <h1>Des millions de petites annonces et autant d'occasions de se faire plaisir</h1>
        
        <div class="main-form">
            <div class="form-row">
                <div class="form-group form-radio">
                    <input type="radio" id="offers" name="offersOrNeeds" value="offers" checked>
                    <label for="offers">Offres</label>
                </div>
                <div class="form-group form-radio">
                    <input type="radio" id="needs" name="offersOrNeeds" value="needs">
                    <label for="needs">Demandes</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group form-select">
                    <button 
                        class="category-slider-opener form-box" 
                        data-template="#main-form-category-template"
                        name="category" 
                        id="category"
                        value=""
                        >
                        <svg class="icon i-left">
                            <use xlink:href="/img/svg/sprite.svg#list"></use>
                        </svg>
                        <label for="category">Catégories</label>
                        <svg class="icon i-right">
                            <use xlink:href="/img/svg/sprite.svg#expand-more"></use>
                        </svg>
                    </button>
                </div>
                <div class="form-group form-input">
                    <svg class="icon i-left">
                        <use xlink:href="/img/svg/sprite.svg#search"></use>
                    </svg>
                    <input 
                        class="q-slider-opener js-auto-suggest suggest-q form-box" 
                        data-template="#main-form-q-template"
                        data-maxwidth="1050"
                        type="text" 
                        name="q" 
                        id="q" 
                        placeholder="Que recherchez-vous ?"
                        autocomplete="off">
                </div>
                <div class="form-group form-input">
                    <svg class="icon i-left i-location">
                        <use xlink:href="/img/svg/sprite.svg#location"></use>
                    </svg>
                    <svg class="icon i-left i-location-fill">
                        <use xlink:href="/img/svg/sprite.svg#location-fill"></use>
                    </svg>
                    <input 
                        class="location-slider-opener js-auto-suggest suggest-location form-box" 
                        data-template="#main-form-location-template"
                        data-maxwidth="1050"
                        type="text" 
                        name="location" 
                        id="location" 
                        placeholder="Saisissez une ville et un rayon"
                        autocomplete="off">
                </div>
            </div>
            <div class="form-row">
                <ul class="sort-list form-group">
                    <li class="sort-item">Prix</li>
                    <li class="sort-item">Date</li>
                </ul>
            </div>
            <div class="form-row">
                <div class="form-group form-checkbox">
                    <input class="js-radio js-radio-slider" type="checkbox" id="deliverable" name="deliverable" value="deliverable">
                    <label for="deliverable">
                        <div class="special-checkbox">
                            <div class="special-checkbox-ball">
                                <svg class="icon i-check">
                                    <use xlink:href="/img/svg/sprite.svg#check"></use>
                                </svg>
                                <svg class="icon i-close">
                                    <use xlink:href="/img/svg/sprite.svg#close"></use>
                                </svg>
                            </div>
                        </div>
                        Voir également les annonces disponibles en livraison
                    </label>
                    <div class="form-help js-help">
                        <svg class="icon i-help">
                            <use xlink:href="/img/svg/sprite.svg#help"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="form-group form-submit">
                <button class="btn btn-blue form-box" type="submit">Rechercher (<span class="js-search-total-results"></span>)</button>
            </div>
        </div>

        <div class="main-deposit form-group">
            <a class="btn btn-orange">
                <span>Déposer une annonce</span>
                <svg class="icon">
                    <use xlink:href="/img/svg/sprite.svg#add_circle"></use>
                </svg>
            </a>
        </div>

        <!-- sliders gérés en js -->
        <div class="main-form-slider"></div>  
    </section>


{% endblock %}


