{% extends "base.html.twig" %}


{% block body %}

    <section class="main">
        <h1>Des millions de petites annonces et autant d'occasions de se faire plaisir</h1>
        
        <div class="main-form">
            <div class="form-row">
                <div class="form-group form-radio">
                    <input type="radio" id="offers" name="offers" value="offers" checked>
                    <label for="offers">Offres</label>
                </div>
                <div class="form-group form-radio">
                    <input type="radio" id="needs" name="needs" value="needs">
                    <label for="needs">Demandes</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group form-select">
                    <button class="js-category-select form-box" name="category" id="category">
                        <svg class="icon i-left">
                            <use xlink:href="/img/svg/sprite.svg#list"></use>
                        </svg>
                        <label for="category">Catégories</label>
                        <svg class="icon i-right">
                            <use xlink:href="/img/svg/sprite.svg#list"></use>
                        </svg>
                    </button>
                </div>
                <div class="form-group form-input">
                    <svg class="icon i-left">
                        <use xlink:href="/img/svg/sprite.svg#search"></use>
                    </svg>
                    <input class="js-auto-suggest suggest-q form-box" type="text" name="q" id="q" placeholder="Que recherchez-vous ?">
                </div>
                <div class="form-group form-input">
                    <svg class="icon i-left">
                        <use xlink:href="/img/svg/sprite.svg#location"></use>
                    </svg>
                    <input class="js-auto-suggest suggest-location form-box" type="text" name="location" id="location" placeholder="Saisissez une ville et un rayon">
                </div>
            </div>
            <div class="form-row">
                <ul class="sort-list">
                    <li class="sort-item">Prix</li>
                    <li class="sort-item">Date</li>
                </ul>
            </div>
            <div class="form-row">
                <div class="form-group form-radio">
                    <input class="js-radio js-radio-slider" type="radio" id="deliverable" name="deliverable" value="deliverable">
                    <label for="deliverable">Voir également les annonces disponibles en livraison <span class="help js-info"></span></label>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-blue form-box" type="submit">Rechercher (<span class="js-search-total-results"></span>)</button>
            </div>
        </div>

        <div class="main-deposit form-group">
            <a class="btn btn-orange">
                <span>Déposer une annonce</span>
                <svg class="icon">
                    <use xlink:href="/img/svg/sprite.svg#add_circle"></use>
                </svg>
            </a>
        </div>
    </section>


{% endblock %}


