{% extends "base.html.twig" %}


{% block body %}

{# <pre>
    {{ dump(post) }}
</pre> #}

    <section class="main">
        <h1>Des millions de petites annonces et autant d'occasions de se faire plaisir</h1>
        

        {% include "home/main_form/_main_form.html.twig" %}


        <div class="main-deposit form-group">
            <a class="btn btn-orange">
                <span>Déposer une annonce</span>
                <svg class="icon">
                    <use xlink:href="/img/svg/sprite.svg#add_circle"></use>
                </svg>
            </a>
        </div>

    </section>

    <section class="last-search carousel-section">
        <h2> 
            <svg class="icon i-left">
                <use xlink:href="/img/svg/sprite.svg#search"></use>
            </svg>
            <span>Recherches récentes</span>
        </h2>
        <ul class="carousel car-scroll">
            <li class="carousel-item card">
                <h3 class="card-title">Toutes catégories</h3>
                <p class="card-subtitle">sous-titre</p>
                <div class="card-footer last-search-location">
                    <svg class="icon i-left">
                        <use xlink:href="/img/svg/sprite.svg#location-fill"></use>
                    </svg>
                    <span>Autour de Salon de Provence (13300) 30km...</span>
                </div>
                <svg class="icon i-closer">
                    <use xlink:href="/img/svg/sprite.svg#close"></use>
                </svg>
            </li>
            <li class="carousel-item card">
                <h3 class="card-title">Développeur</h3>
                <p class="card-subtitle">Offres d'emploi</p>
                <div class="card-footer last-search-location">
                    <svg class="icon i-left">
                        <use xlink:href="/img/svg/sprite.svg#location-fill"></use>
                    </svg>
                    <span>Autour de Salon de Provence (13300) 30km...</span>
                </div>
                <svg class="icon i-closer">
                    <use xlink:href="/img/svg/sprite.svg#close"></use>
                </svg>
            </li>
            <li class="carousel-item card">
                <h3 class="card-title">Offres d'emploi</h3>
                <p class="card-subtitle"></p>
                <div class="card-footer last-search-location">
                    <svg class="icon i-left">
                        <use xlink:href="/img/svg/sprite.svg#location-fill"></use>
                    </svg>
                    <span>Autour de Salon de Provence (13300) 30km...</span>
                </div>
                <svg class="icon i-closer">
                    <use xlink:href="/img/svg/sprite.svg#close"></use>
                </svg>
            </li>
        </ul>
    </section>

    <section class="top-category carousel-section">
        <h2>Top catégories</h2>
        <ul class="carousel car-arrow">
            <svg class="icon i-car-arrow i-car-left">
                <use xlink:href="/img/svg/sprite.svg#chevron-left"></use>
            </svg>
            <svg class="icon i-car-arrow i-car-right">
                <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
            </svg>
            <li class="carousel-item img-card">
                <h3>Vêtements</h3>
            </li>
            <li class="carousel-item img-card">
                <h3>Vacances</h3>
            </li>
            <li class="carousel-item img-card">
                <h3>Offres d'emploi</h3>
            </li>
            <li class="carousel-item img-card">
                <h3>Ventes immo</h3>
            </li>
            <li class="carousel-item img-card">
                <h3>Voitures</h3>
            </li>
            <li class="carousel-item img-card">
                <h3>Ameublement</h3>
            </li>
            <li class="carousel-item img-card">
                <h3>Electroménager</h3>
            </li>
            <li class="carousel-item img-card">
                <h3>Décoration</h3>
            </li>
            <li class="carousel-item img-card">
                <h3>Informatique</h3>
            </li>
        </ul>
    </section>
    


{% endblock %}


