{% extends "base.html.twig" %}

{% block js %}
    <script src="/js/views/home/index.js" type="module" defer></script>
    <script src="/js/views/main_form.js" type="module" defer></script>
{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block body %}

    <section class="main">
        <h1>Des millions de petites annonces et autant d'occasions de se faire plaisir</h1>
        

        {% include "home/_main_form.html.twig" %}


        <div class="main-deposit form-group">
            <a class="btn btn-orange">
                <span>Déposer une annonce</span>
                <svg class="icon">
                    <use xlink:href="/img/svg/sprite.svg#add_circle"></use>
                </svg>
            </a>
        </div>

    </section>


    <div class="container-small">
        <section class="last-search carousel-section">
            <h2> 
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#search"></use>
                </svg>
                <span>Recherches récentes</span>
            </h2>
            <ul class="carousel car-scroll">
                <li class="carousel-item card">
                    <a href="">
                        <h3 class="card-title">Toutes catégories</h3>
                        <p class="card-subtitle">sous-titre</p>
                        <div class="card-footer last-search-location">
                            <svg class="icon i-left">
                                <use xlink:href="/img/svg/sprite.svg#location-fill"></use>
                            </svg>
                            <span>Autour de Salon de Provence (13300) 30km...</span>
                        </div>
                        <svg class="icon i-closer">
                            <use xlink:href="/img/svg/sprite.svg#close"></use>
                        </svg>
                    </a>
                </li>
                <li class="carousel-item card">
                    <a href="">
                        <h3 class="card-title">Développeur</h3>
                        <p class="card-subtitle">Offres d'emploi</p>
                        <div class="card-footer last-search-location">
                            <svg class="icon i-left">
                                <use xlink:href="/img/svg/sprite.svg#location-fill"></use>
                            </svg>
                            <span>Autour de Salon de Provence (13300) 30km...</span>
                        </div>
                        <svg class="icon i-closer">
                            <use xlink:href="/img/svg/sprite.svg#close"></use>
                        </svg>
                    </a>
                </li>
                <li class="carousel-item card">
                    <a href="">
                        <h3 class="card-title">Offres d'emploi</h3>
                        <p class="card-subtitle"></p>
                        <div class="card-footer last-search-location">
                            <svg class="icon i-left">
                                <use xlink:href="/img/svg/sprite.svg#location-fill"></use>
                            </svg>
                            <span>Autour de Salon de Provence (13300) 30km...</span>
                        </div>
                        <svg class="icon i-closer">
                            <use xlink:href="/img/svg/sprite.svg#close"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </section>

        <section class="top-category carousel-section">
            <h2>Top catégories</h2>
            <ul class="carousel car-arrow">
                <li class="carousel-item img-card">
                    <a href="#">
                        <h3>Vêtements</h3>
                    </a>
                </li>
                <li class="carousel-item img-card">
                    <a href="#">
                        <h3>Vacances</h3>
                    </a>
                </li>
                <li class="carousel-item img-card">
                    <a href="#">
                        <h3>Offres d'emploi</h3>
                    </a>
                </li>
                <li class="carousel-item img-card">
                    <a href="#">
                        <h3>Ventes immo</h3>
                    </a>
                </li>
                <li class="carousel-item img-card">
                    <a href="#">
                        <h3>Voitures</h3>
                    </a>
                </li>
                <li class="carousel-item img-card">
                    <a href="#">
                        <h3>Ameublement</h3>
                    </a>
                </li>
                <li class="carousel-item img-card">
                    <a href="#">
                        <h3>Electroménager</h3>
                    </a>
                </li>
                <li class="carousel-item img-card">
                    <a href="#">
                        <h3>Décoration</h3>
                    </a>
                </li>
                <li class="carousel-item img-card">
                    <a href="#">
                        <h3>Informatique</h3>
                    </a>
                </li>
            </ul>
        </section>
        
        <section class="last-suggest">
            <h2>
                <span>D’après vos dernières recherches</span>
                <div class="js-info-opener last-suggest-info-container"
                    data-template="#last-suggest-info-template"
                    data-container=".last-suggest-info-container"
                    data-closer=".last-suggest-info .js-info-closer"    
                    >
                    <svg class="icon i-right i-help">
                        <use xlink:href="/img/svg/sprite.svg#help"></use>
                    </svg>
                </div>
            </h2>
            <div class="last-suggest-row carousel-section">
                <p class="section-subtitle">
                    <svg class="icon i-left">
                        <use xlink:href="/img/svg/sprite.svg#home"></use>
                    </svg>
                    <span>En location</span>
                </p>
                <ul class="carousel car-arrow">
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Studio 1 pièce 34 m²</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Grand T4 confortable aux Canourgues</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Appartement à Bel Air</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Studio 1 pièce 34 m²</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Grand T4 confortable aux Canourgues</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence 13300</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Appartement à Bel Air</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Studio 1 pièce 34 m²</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Grand T4 confortable aux Canourgues</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Appartement à Bel Air</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Studio 1 pièce 34 m²</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence 13300</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="last-suggest-row carousel-section car-section-with-user">
                <p class="section-subtitle">
                    <svg class="icon i-left">
                        <use xlink:href="/img/svg/sprite.svg#car"></use>
                    </svg>
                    <span>En équipement auto</span>
                </p>
                <ul class="carousel car-arrow">
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <p class="suggest-product-card-user">
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#account_circle"></use>
                                </svg>
                                <span class="suggest-product-username">Claude</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#star"></use>
                                </svg>
                                <span class="suggest-product-user-note">4.7 <span>(58)</span></span>
                            </p>
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Pièces Golf 5 1.9tdi 105cv</h4>
                            <p class="suggest-product-card-price price-down">50 €</p>
                            <ul class="chip-list">
                                <li class="chip-item">Livraison possible</li>
                            </ul>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <p class="suggest-product-card-user">
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#account_circle"></use>
                                </svg>
                                <span class="suggest-product-username">abdelaziz</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#star"></use>
                                </svg>
                                <span class="suggest-product-user-note">3.2 <span>(4)</span></span>
                            </p>
                            <div class="suggest-product-card-img urgent-tag urgent-tag-top-left">
                            </div>
                            <h4 class="suggest-product-card-title">Kit démarrage Golf 5</h4>
                            <p class="suggest-product-card-price">125 €</p>
                            <ul class="chip-list">
                                <li class="chip-item">Livraison possible</li>
                            </ul>
                            <p class="card-footer">
                                <span>Vitrolles 13450</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <p class="suggest-product-card-user">
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#account_circle"></use>
                                </svg>
                                <span class="suggest-product-username">YO</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#star"></use>
                                </svg>
                                <span class="suggest-product-user-note">4.5 <span>(26)</span></span>
                            </p>
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">arbre de transmission Golf</h4>
                            <p class="suggest-product-card-price price-down">20 €</p>
                            <ul class="chip-list">
                                <li class="chip-item">Livraison possible</li>
                                <li class="chip-item">Garantie 2 ans</li>
                            </ul>
                            <p class="card-footer">
                                <span>Maussanne 13010</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <p class="suggest-product-card-user">
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#account_circle"></use>
                                </svg>
                                <span class="suggest-product-username">julien</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#star"></use>
                                </svg>
                                <span class="suggest-product-user-note">4.5 <span>(26)</span></span>
                            </p>
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Roue avant de voiture électrique</h4>
                            <p class="suggest-product-card-price">50 €</p>
                            <ul class="chip-list">
                                <li class="chip-item">Livraison possible</li>
                            </ul>
                            <p class="card-footer">
                                <span>Menton 06100</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <p class="suggest-product-card-user">
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#account_circle"></use>
                                </svg>
                                <span class="suggest-product-username">B.O</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#star"></use>
                                </svg>
                                <span class="suggest-product-user-note">4.5 <span>(26)</span></span>
                            </p>
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">rétroviseur de Xantia</h4>
                            <p class="suggest-product-card-price">10 €</p>
                            <ul class="chip-list">
                                <li class="chip-item">Livraison possible</li>
                            </ul>
                            <p class="card-footer">
                                <span>Salon de Provence 13300</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <p class="suggest-product-card-user">
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#account_circle"></use>
                                </svg>
                                <span class="suggest-product-username">lbc</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#star"></use>
                                </svg>
                                <span class="suggest-product-user-note">4.5 <span>(26)</span></span>
                            </p>
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Kit courroie distribution</h4>
                            <p class="suggest-product-card-price">150 €</p>
                            <ul class="chip-list">
                                <li class="chip-item">Livraison possible</li>
                            </ul>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <p class="suggest-product-card-user">
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#account_circle"></use>
                                </svg>
                                <span class="suggest-product-username">sebastien</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#star"></use>
                                </svg>
                                <span class="suggest-product-user-note">4.5 <span>(26)</span></span>
                            </p>
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 4 à vendre</h4>
                            <p class="suggest-product-card-price">6 000 €</p>
                            <ul class="chip-list">
                                <li class="chip-item">Livraison possible</li>
                            </ul>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <p class="suggest-product-card-user">
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#account_circle"></use>
                                </svg>
                                <span class="suggest-product-username">ahmed</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#star"></use>
                                </svg>
                                <span class="suggest-product-user-note">4.5 <span>(26)</span></span>
                            </p>
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">voiture</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <ul class="chip-list">
                                <li class="chip-item">Livraison possible</li>
                            </ul>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <p class="suggest-product-card-user">
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#account_circle"></use>
                                </svg>
                                <span class="suggest-product-username">Lisa</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#star"></use>
                                </svg>
                                <span class="suggest-product-user-note">4.5 <span>(26)</span></span>
                            </p>
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Voiture sans permis</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <ul class="chip-list">
                                <li class="chip-item">Livraison possible</li>
                            </ul>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <p class="suggest-product-card-user">
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#account_circle"></use>
                                </svg>
                                <span class="suggest-product-username">juliette</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#star"></use>
                                </svg>
                                <span class="suggest-product-user-note">4.5 <span>(26)</span></span>
                            </p>
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Voiture en bon état</h4>
                            <p class="suggest-product-card-price">600 €</p>
                            <ul class="chip-list">
                                <li class="chip-item">Livraison possible</li>
                            </ul>
                            <p class="card-footer">
                                <span>Salon de Provence 13300</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="last-suggest-row carousel-section">
                <p class="section-subtitle">
                    <svg class="icon i-left">
                        <use xlink:href="/img/svg/sprite.svg#car"></use>
                    </svg>
                    <span>En voitures</span>
                </p>
                <ul class="carousel car-arrow">
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price price-down">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence 13300</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Clio grise</h4>
                            <p class="suggest-product-card-price">1 800 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">ford focus à vendre pas cher</h4>
                            <p class="suggest-product-card-price">4 000 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price price-down">1 150 €</p>
                            <p class="card-footer">
                                <span>Simiane-Collongues 13109</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="last-suggest-row carousel-section">
                <p class="section-subtitle">
                    <span>Dans nos autres catégories</span>
                </p>
                <ul class="carousel car-arrow">
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Comptable (H/F)</h4>
                            <p class="suggest-product-card-price price-down">2 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence 13300</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img urgent-tag urgent-tag-top-left">
                            </div>
                            <h4 class="suggest-product-card-title">Manoeuvre toiture (H/F)</h4>
                            <p class="suggest-product-card-price">1 450 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Cdi électricien(e) (h/f)</h4>
                            <p class="suggest-product-card-price">2 250 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price price-down">1 150 €</p>
                            <p class="card-footer">
                                <span>Simiane-Collongues 13109</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                    <li class="carousel-item suggest-product-card">
                        <a href="#">
                            <div class="suggest-product-card-img">
                            </div>
                            <h4 class="suggest-product-card-title">Mégane 2 diesel 160000 km parfait état</h4>
                            <p class="suggest-product-card-price">1 500 €</p>
                            <p class="card-footer">
                                <span>Salon de Provence</span>
                                <svg class="icon i-right">
                                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                                </svg>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="geo-choice">
            <img class="geo-choice-map" src="/img/france.jpg">
            <div class="geo-choice-form">
                <label for="geo-choice">Région</label>
                <div 
                    id="geo-choice" 
                    class="geo-choice-select js-select"
                    data-optionstemplate="#geo-choice-options-template"
                    data-currentchoicevalue=""
                    >
                    <span class="current-choice-label"></span>
                    <svg class="icon">
                        <use xlink:href="/img/svg/sprite.svg#expand-more"></use>
                    </svg>
                </div>
            </div>
        </section>


        <section class="footer-banner">
            <a href="#" class="footer-banner-link">
                <div class="footer-banner-body">
                    <h3>Avoir une passion c'est bien ! La partager avec les autres, c'est mieux !</h3>
                    <p>Jardinage, mode, vélo... Ils sont nombreux à en parler sur la Communauté leboncoin ! Rejoignez-les !</p>
                    <button class="btn btn-orange">Découvrir la communauté</button>
                </div>
            </a>
        </section>

        <section class="general-description">
            <p>
                Avec leboncoin, trouvez la bonne affaire sur le site référent de petites annonces de particulier à particulier et de professionnels. 
                Avec des millions de petites annonces, trouvez la bonne occasion dans nos catégories 
                <a href="#">voiture</a>, <a href="#">immobilier</a>, <a href="#">emploi</a>, <a href="#">location de vacances</a>, <a href="#">vêtements</a>, <a href="#">meubles</a>, 
                <a href="#">bricolage</a>, <a href="#">téléphonie</a>, <a href="#">jeux vidéo</a>, etc...
                Déposez une annonce gratuite en toute simplicité pour vendre, rechercher, donner vos biens de seconde main ou promouvoir vos services. 
                Pour cet été, découvrez nos idées de destination avec notre <a href="#">guide de vacances en France</a>. Achetez en toute sécurité avec notre système de paiement en ligne et de livraison pour les annonces éligibles.
            </p>
        </section>
    </div>
    
    {% include "layouts/js_templates/home/home_templates.html.twig" %}
{% endblock %}
