{% extends "base.html.twig" %}


{% block body %}

{# <pre>
    {{ dump(post) }}
</pre> #}

    <section class="main">
        <h1>Des millions de petites annonces et autant d'occasions de se faire plaisir</h1>
        

        {% include "home/main_form/_main_form.html.twig" %}


        <div class="main-deposit form-group">
            <a class="btn btn-orange">
                <span>Déposer une annonce</span>
                <svg class="icon">
                    <use xlink:href="/img/svg/sprite.svg#add_circle"></use>
                </svg>
            </a>
        </div>

    </section>


{% endblock %}


