<template id="search-sort-options-template">
    <ul class="search-sort-list select-list">
        <li class="search-sort-item select-option" data-value="latest">
            Tri : Plus récentes
        </li>
        <li class="search-sort-item select-option" data-value="oldest">
            Tri : Plus anciennes
        </li>
        <li class="search-sort-item select-option" data-value="price_up">
            Tri : Prix croissants
        </li>
        <li class="search-sort-item select-option" data-value="price_down">
            Tri : Prix décroissants
        </li>
        <li class="search-sort-item select-option default" data-value="logic">
            Tri : Pertinence
        </li>
    </ul>
</template>