<div class="dev-todo">
    <h5>A FAIRE</h5>
    <ul>
        <li>enlever les a dans slider category template et mettre un data-value a la place puis mettre un select a la place du button dans le main form,
            et faire en sorte que quand on clique sur une option elle soit sélectionnée</li>
        <li>faire en sorte que le slider category sur width > 1050px ne génére pas de body.frozen</li>
        <li>mettre en place le body click pour fermer slider category sur width > 1050px</li>
        <li>filtrage et auto-suggest sur main-form en js (a faire après php)</li>
        <li>vérif s'il y a pas une bg color sur le vrai site</li>
        <li>enlever les liens a  du sub-nav-item et remettre des li car ils seront traités uniquement en js</li>
    </ul>
</div>