<div class="dev-todo">
    <h5>A FAIRE</h5>
    <ul>
        <li>vérif s'il y a pas une bg color sur le vrai site</li>
        <li>enlever les liens a  du sub-nav-item et remettre des li car ils seront traités uniquement en js</li>
        <li>faire une sorte de preventDefault pour le scroll quand le hidden nav est ouvert en mode mobile, sur tout l'écran</li>
    </ul>
</div>