<div class="dev-todo">
    <h5>A FAIRE</h5>
    <ul>
        <li>aujourd'hui : finir les templates sliders et js-info</li>
        <br>
        <li>filtrage et auto-suggest sur main-form en js (a faire après php)</li>
        <li>vérif s'il y a pas une bg color sur le vrai site</li>
        <li>a la fin : gérer le sub-nav-item "autre" en js pour déplier un menu avec les catégories restantes (enlever le a pour cet item uniquement)</li>
    </ul>
</div>