<div class="dev-todo">
    <h5>A FAIRE</h5>
    <ul>
        <li>aujourd'hui : faire js-info</li>
        <li>faire en sorte qu'il y ait focus sur input quand on ouvre slider q ou location</li>
        <li>bug : si on agrandit l'écran avec slider q ou location ouvert, il se retrouve sous catégorie sur le design desktop</li>
        <br>
        <li>effet sombre sur tout le reste quand focus sur le mainform (uniquement sur la page search, pas sur la home)</li>
        <li>filtrage et auto-suggest sur main-form en js (a faire après php)</li>
        <li>vérif s'il y a pas une bg color sur le vrai site</li>
        <li>a la fin : gérer le sub-nav-item "autre" en js pour déplier un menu avec les catégories restantes (enlever le a pour cet item uniquement)</li>
    </ul>
</div>