<div class="dev-todo">
    <h5>A FAIRE</h5>
    <ul>
        <svg class="dev-todo-closer">
            <use xlink:href="/img/svg/sprite.svg#close"></use>
        </svg>
        <li>ajouter fonctionnalité rayon de recherche</li>
        <li>problème category select absent dans searchpage width < 1050px</li>
        <br>
        <li>bug: quand on revient en arrière au bout du carousel last-suggest, il avance qu'un peu au lieu de faire un gap normal de 4 ou 5</li>
        <li>laisser carousel même sur mobile pour les last-suggest et faire en sorte que le gap soit corrélé à la largeur de l'écran</li>

        <li>transformer closeHandler pour qu'il renvoie une promise</li>
        <li>a la fin : gérer le sub-nav-item "autre" en js pour déplier un menu avec les catégories restantes (enlever le a pour cet item uniquement)</li>
    </ul>
</div>
