<div class="dev-todo">
    <h5>A FAIRE</h5>
    <ul>
    <li>mettre en place la bulle info en js, mettre un fond au select</li>
    <li>modif geo_choice_options_template, mettre des button dans les li avec value pour filtrer par région, et entourer les li d'un form en faisant include du mainform_start et end</li>
        <li>bug: quand on revient en arrière au bout du carousel last-suggest, il avance qu'un peu au lieu de faire un gap normal de 4 ou 5</li>

        <li>transformer closeHandler pour qu'il renvoie une promise</li>
        <li>a la fin : gérer le sub-nav-item "autre" en js pour déplier un menu avec les catégories restantes (enlever le a pour cet item uniquement)</li>
    </ul>
</div>
