<div class="form-group form-submit">
    <button class="btn btn-blue form-box" type="submit">Rechercher (<span class="js-count-results">{{ count_results | number_format(0, '', ' ') }}</span>)</button>
</div>