<div class="filter-block">
    <h4 class="filters-group-title">Type de vendeurs</h4>
    <div class="filters-group individualsAndPros-group">
        <div class="form-group form-checkbox">
            <input class="custom-checkbox-input main-form-individuals" type="checkbox" id="individuals" name="individuals" {% if searchFilter.individuals %}checked{% endif %}>
            <label class="custom-checkbox-label" for="individuals">
                <div class="custom-checkbox">
                    <svg class="icon custom-checkbox-cross">
                        <use xlink:href="/img/svg/sprite.svg#check"></use>
                    </svg>
                </div>
                <span>Particuliers</span>
            </label>
        </div>
        <div class="form-group form-checkbox">
            <input class="custom-checkbox-input main-form-pros" type="checkbox" id="pros" name="pros" {% if searchFilter.pros %}checked{% endif %}>
            <label class="custom-checkbox-label" for="pros">
                <div class="custom-checkbox">
                    <svg class="icon custom-checkbox-cross">
                        <use xlink:href="/img/svg/sprite.svg#check"></use>
                    </svg>
                </div>
                <span>Professionnels</span>
            </label>
        </div>
    </div>
</div>
