<div class="filter-block">
    <h4 class="filters-group-title">Type d'annonces</h4>
    <div class="filters-group offersOrNeeds-group">
        <div class="form-group form-radio">
            <input class="main-form-offers" type="radio" id="offers" name="offersOrNeeds" value="offers" {% if searchFilter.offersOrNeeds is same as 'offers' %}checked{% endif %}>
            <label for="offers">Offres</label>
        </div>
        <div class="form-group form-radio">
            <input class="main-form-needs" type="radio" id="needs" name="offersOrNeeds" value="needs" {% if searchFilter.offersOrNeeds is same as 'needs' %}checked{% endif %}>
            <label for="needs">Demandes</label>
        </div>
    </div>
</div>