<div class="filter-block">
    <h4 class="filters-group-title">Type d'annonces</h4>
    <div class="filters-group offersOrNeeds-group">
        <div class="form-group form-radio">
            <input type="radio" id="offers" name="offersOrNeeds" value="offers" checked>
            <label for="offers">Offres</label>
        </div>
        <div class="form-group form-radio">
            <input type="radio" id="needs" name="offersOrNeeds" value="needs">
            <label for="needs">Demandes</label>
        </div>
    </div>
</div>