<div class="form-group title-search-group">
    <input class="title-search-input custom-checkbox-input" type="checkbox" name="" id="title_search">
    <label for="title_search" class="custom-checkbox-label">
        <div class="custom-checkbox">
            <svg class="icon custom-checkbox-cross">
                <use xlink:href="/img/svg/sprite.svg#check"></use>
            </svg>
        </div>
        <span>Recherche dans le titre uniquement</span>
    </label>
</div>