
:root {
    --orange: #ff6e14;
    --orange-active: #c0562a;
    --shadow: rgba(26, 26, 26, 0.12);
    --black: #333;
    --placeholder-grey: rgb(176, 183, 199); 
    --placeholder-bg-grey: rgb(240, 240, 240); 
    --blue: #4183d7;
}

@keyframes hiddenNavOpening {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fromMiddleToFull {
    0% {
        width: 0px;
        left: 50%;
    }
    100% {
        right: 0;
        width: 100%;
        left: 0;
    }
}



/* general properties */

* {
    box-sizing: border-box;
}

html, body {
    height: 3000px;
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    font-family: Open Sans, sans-serif, Arial;
    position: relative;
    color: var(--black);
}

h1 {
    line-height: 1.9rem;
    font-weight: 600;
    font-size: 1.4rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}
button {
    background-color: transparent;
    border: none;
}
.btn.btn-blue {
    background-color: var(--blue);
    color: white;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
    /*dev*/border-left: solid 1px lightgreen;
    /*dev*/border-right: solid 1px lightgreen;
}

.icon {
    width: 1.8rem;
    height: 1.8rem;
}
.top-nav .icon {
    width: 2.7rem;
    height: 2.7rem;
}
.hidden-nav-closer {
    display: none;
}

            /*dev-todo*/
            .dev-todo {
                position: fixed;
                bottom: 50px;
                left: calc(50% - 200px);
                width: 100%;
                max-width: 400px;
                background-color: #ff6e1488;
                border-radius: 5px;
                padding: 10px 10px 20px 10px;
                font-size: 1.4rem;
                color: white;
            }
            .dev-todo h5 {
                font-size: 2rem;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 5px;
            }
            .dev-todo li {
                font-style: italic;
                margin: 5px 0;
            }
            .dev-todo ul {
                list-style-type: disc;
                margin-left: 20px;
            }


            /* dev */ body {
                background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
                            url(design/mobile-homepage.jpg) center top no-repeat;
            }



 /***************** HIDDEN NAV****************/
 .hidden-nav {
    display: none;
}


 .hidden-nav.visible {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: hiddenNavOpening forwards 1s;
    /*dev*/background-color: white;/* #ffffff2f;  /*a remplacer par white*/
}

/* dans .hidden-nav on supprime le bouton menu et on rétablit les nav-items normalement masqués */
.hidden-nav .nav-logo .i-menu {
    display: none;
}
.hidden-nav .nav-right, .hidden-nav .sub-nav {
    display: block;
}
.hidden-nav .nav-left-item {
    display: inline-block;
}


.hidden-nav .top-nav {
    display: flex;
    flex-direction: column;
}
.hidden-nav .nav-left, .hidden-nav .nav-right {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.hidden-nav .nav-right {
    padding-top: 5px;
    border-top: solid 1px rgba(51, 51, 51, 0.322);
}
.hidden-nav .nav-left-item, .hidden-nav .nav-right-item {
    margin-left: 5%;
    margin-top: 18px;
    font-size: 1.4rem;
}
.hidden-nav .nav-left-item:nth-child(2), .hidden-nav .nav-right-item:first-child {
    margin-top: 10px;
}
.hidden-nav .nav-left-item a, .hidden-nav .nav-right-item a {
    display: flex;
    align-items: center;
}
.hidden-nav .nav-left-item .icon, .hidden-nav .nav-right-item .icon {
    margin-right: 12px;
}
.hidden-nav .nav-left .nav-logo {
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    height: 65px;
    border-bottom: solid 1px transparent;
    box-shadow: 0 0 40px var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-nav .hidden-nav-closer {
    position: absolute;
    display: block;
    background-color: transparent;
    border: none;
    top: 17px;
    right: 17px;
    cursor: pointer;
}




/*******résolution < 180px  **********/

/*A FAIRE*/

@media only screen and (max-width: 280px) {
    .navbar::before {
        content: 'à faire : css pour écrans de largeur < 280px';
        color: red;
        font-size: 50px;
    }
}



/******************************** MOBILE ***********************************************/

@media only screen and (min-width: 280px) {
    /*navbar*/

    .navbar-block { 
        border-bottom: solid 1px transparent;
        box-shadow: 0 0 40px var(--shadow);
    }

    .navbar {
        position: relative;
        display: flex;
        height: 65px;
        align-items: center;
        justify-content: center;
        color: #333;
        font-size: 1.4rem;
    }

    .top-nav {
        flex: none;
    }

    .nav-left-item, .nav-right, .sub-nav {
        display: none;
    }

    .nav-left .nav-logo {
        display: block;
        text-align: center;
    }

    .nav-logo .i-logo {
        width: 155px;
        height: 40px;
    }

    .nav-logo .i-menu {
        position: absolute;
        width: 50px;
        height: 40px;
        top: calc(50% - 20px);
        left: 10px;
        color: var(--orange);
    }

    /*main*/
    .main {
        margin-top: 65px;
        display: flex;
        flex-direction: column;
    }
    .main h1 {
        order: 2;
    }
    .main-deposit {
        order: 3;
    }
    .main-form .form-row:first-child, .main-form .form-row:nth-child(3), .main-form .form-row:nth-child(4) {
        display: none;
    }
    
    .main-form {
        border-bottom: solid 1px transparent;
        box-shadow: 0 0 40px var(--shadow);
        border-radius: 0 0 20px 0;
        height: 218px;
        padding-top: 8px;
    }
    .main .form-group {
        margin: 12px 18px;
    }
    .main-form .form-box {
        outline: none;
        border: solid 1px var(--placeholder-grey);
        height: 40px;
        display: block;
        width: 100%;
        border-radius: 4px;
        font-size: 1.5rem;
    }
    .main-form .form-select .form-box {
        background-color: var(--placeholder-bg-grey);
        border: none;
    }
    .main-form .form-group {
        position: relative;
    }
    .main-form .form-group .icon {
        position: absolute;
        top: calc(50% - 8px);
        color: var(--placeholder-grey)
    }
    .main-form .form-group .i-left {
        left: 12px;
    }
    .main-form .form-group .i-right {
        right: 14px;
    }
    .main-form .form-select .i-left {
        color: var(--black);
        width: 20px;
        height: 20px;
        top: calc(50% - 10px);
    }

    .main-form input::placeholder {
        color: var(--placeholder-grey);
    }
    .main-form input {
        padding-left: 40px;
    }
    .main-form .form-group button[type=submit] {
        height: 30px;
        width: 75%;
        margin: 0 auto;
        font-size: 1.3rem;;
    }
}


/***********************************RESPONSIVE**************************************************/


@media only screen and (min-width: 580px) {
    /*dev*/ body {
        background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
                    url(design/tablet-homepage.jpg) center top -3px no-repeat;
    }


    .hidden-nav.visible {
        width: 482px;
        right: auto;
    }
    .hidden-nav .nav-left .nav-logo {
        height: 60px;
    }

    
    .navbar-block {
        box-shadow: 0 0 15px var(--shadow);
    }
    .navbar {
        height: 60px;
    }

    .nav-logo .i-logo {
        width: 158px;
        height: 40px;
    }
    
    .nav-logo .i-menu {
        top: calc(50% - 15px);
        width: 65px;
        height: 35px;
        left: 0;
    }
}



@media only screen and (min-width: 1050px) {
    /*dev */ body {
        background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
                    url(design/desktop-homepage.jpg) center top no-repeat;
    }

    /* la fonctionnalité hidden-nav ne peut pas être utilisée sur grande largeur */
    .hidden-nav.visible {
        display: none;
    }

    /*navbar*/

    /** on remet ce qui a été enlevé sur mobile */
    .nav-logo .i-menu {
        display: none;
    }
    .nav-right, .sub-nav {
        display: block;
    }
    .nav-left-item {
        display: inline-block;
    }
    /***/


    .navbar {
        height: 112px;
        padding-top: 5px;
        flex-direction: column;
        align-items: stretch;
    }
    .top-nav, .sub-nav {
        display: flex;
        height: 50%;
        flex: none;
    }
    .top-nav {
        align-items: stretch;
        justify-content: space-between;
        padding-right: 35px;
        padding-left: 15px;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }
    .nav-right-item a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 8px;
        position: relative;
    }
    .nav-left-item:last-child a {
        padding-left: 5px;
        padding-right: 8px;
        position: relative;
    }
    .nav-right-item a::after, .nav-left-item:last-child a::after {
        content: '';
        position: absolute;
        bottom: -8px;
        height: 3px;
        background-color: var(--orange);
    }
    .nav-left-item:last-child a::after {
        bottom: -12px;
    }
    .nav-right-item a:hover::after, .nav-left-item:last-child a:hover::after {
        animation: fromMiddleToFull forwards .5s;
    }

    .nav-right-item span {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    .nav-left {
        display: flex;
        align-items: center;
    }
    .nav-left .nav-logo {
        display: inline-block;
        text-align: left;
        margin-right: 8px;
    }
    .nav-left-item {
        font-weight: 600;
        flex: none;
    }
    .nav-left-item a {
        display: flex;
        align-items: center;
    }
    
    .nav-left-item .icon {
        margin-right: 4px;
    }
    .nav-left-item:nth-child(2) {
        align-self: flex-end;
        padding-bottom: 3px;
        margin-right: 14px;
    }
    .nav-left-item:nth-child(2) a {
        color: white;
        background-color: var(--orange);
        width: 195px;
        height: 42px;
        padding: 0 5px;
        border-radius: 4px;
        transition: background-color .3s;
    }
    .nav-left-item:nth-child(2) a:hover {
        background-color: var(--orange-active);
    }
    .nav-left-item:nth-child(3) .icon {
        margin-top: 3px;
        width: 3.2rem;
        height: 3.2rem;
    }
    
    .nav-logo {
        padding-top: 5px;
    }
    .nav-logo .i-logo {
        width: 157px;
        height: 40px;
    }

    .sub-nav {
        align-items: center;
        padding: 0 12px;
    }

    .sub-nav-item  {
        flex: 1 0;
        padding: 0 15px;
        white-space: nowrap;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
    }
    .sub-nav-item span {
        display: inline-block;
        margin: 0 auto;
    }
    .sub-nav-item::before {
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        display: block;
        content: '';
        width: 3px;
        height: 3px;
        background-color: var(--black);
        border-radius: 50%;
    }
    .sub-nav-item:first-child::before {
        display: none;
    }
    .sub-nav-item::after {
        position: absolute;
        content: '';
        display: block;
        bottom: -1px;
        height: 2px;
        background-color: var(--black);
    }
    .sub-nav-item:hover {
        font-weight: bold;
        transition: font-weight 1.5s;
    }
    .sub-nav-item:hover::after {
        animation: fromMiddleToFull forwards .5s;
    }

    .top-nav .nav-right-item.active a::after, .sub-nav-item.active::after {
        right: 0;
        width: 100%;
        left: 0;
    }
}




/*résolution par rapport à la hauteur d'écran */
@media only screen and (min-height: 800px) {
    .navbar-block {
        position: fixed;
        background-color: white;
        top: 0;
        width: 100%;
        margin: 0 auto;
    }
    .hidden-nav.visible {
        position: fixed;
    }
}