<template id="delivery-info-template">
    <div class="info delivery-info">
        <svg class="i-info js-info-closer">
            <use xlink:href="/img/svg/sprite.svg#close"></use>
        </svg>
        <p class="info-title">leboncoin vous simplifie la vie !</p>
        <p>Grâce au paiement en ligne et à la livraison, vous pouvez chercher la perle rare partout en France ! Achetez en ligne et suivez la livraison de votre colis en toute sérénité avec Mondial Relay et La Poste.</p>
        <p><a href="">En savoir plus</a> sur le service de paiement et de livraison leboncoin</p>
    </div>
</template>


<template id="last-suggest-info-template">
    <div class="info last-suggest-info">
        <svg class="i-info js-info-closer">
            <use xlink:href="/img/svg/sprite.svg#close"></use>
        </svg>
        <p class="info-title">Mais pourquoi me pousse-t-on ces annonces ?</p>
        <p>Ces dernières sont basées sur les dernières annonces que vous avez vues sur leboncoin</p>
    </div>
</template>