<template id="geo-choice-options-template">
    {% include "main_form/_form_start.html.twig" %}
        <ul class="geo-choice-list select-list">
            <li >
                <button class="geo-choice-item select-option default" data-value="alsace-id" type="submit" name="geo_filter" value="alsace-id">Alsace</button>
            </li>
            <li >
                <button class="geo-choice-item select-option" data-value="aquitaine-id" type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="auvergne-id" type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="basse-normandie-id" type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="aquitaine-id" type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="auvergne-id" type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="basse-normandie-id" type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="aquitaine-id" type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="auvergne-id" type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="basse-normandie-id" type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="aquitaine-id" type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="auvergne-id" type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="basse-normandie-id" type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="aquitaine-id" type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="auvergne-id" type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="basse-normandie-id" type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="aquitaine-id" type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="auvergne-id" type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="Alsace" type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="Aquitaine-id" type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="auvergne-id" type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="basse-normandie-id" type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="Aquitaine-id" type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="auvergne-id" type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li>
                <button class="geo-choice-item select-option" data-value="basse-normandie-id" type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            
        </ul>
    </form>
</template>