<template id="geo-choice-options-template">
    {% include "home/main_form/_form_start.html.twig" %}
        <ul class="geo-choice-list select-list">
            <li class="geo-choice-item select-option default" data-value="alsace-id">
                <button type="submit" name="geo_filter" value="alsace-id">Alsace</button>
            </li>
            <li class="geo-choice-item select-option" data-value="aquitaine-id">
                <button type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li class="geo-choice-item select-option" data-value="auvergne-id">
                <button type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li class="geo-choice-item select-option" data-value="basse-normandie-id">
                <button type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li class="geo-choice-item select-option" data-value="aquitaine-id">
                <button type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li class="geo-choice-item select-option" data-value="auvergne-id">
                <button type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li class="geo-choice-item select-option" data-value="basse-normandie-id">
                <button type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li class="geo-choice-item select-option" data-value="aquitaine-id">
                <button type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li class="geo-choice-item select-option" data-value="auvergne-id">
                <button type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li class="geo-choice-item select-option" data-value="basse-normandie-id">
                <button type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li class="geo-choice-item select-option" data-value="aquitaine-id">
                <button type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li class="geo-choice-item select-option" data-value="auvergne-id">
                <button type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li class="geo-choice-item select-option" data-value="basse-normandie-id">
                <button type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li class="geo-choice-item select-option" data-value="aquitaine-id">
                <button type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li class="geo-choice-item select-option" data-value="auvergne-id">
                <button type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li class="geo-choice-item select-option" data-value="basse-normandie-id">
                <button type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li class="geo-choice-item select-option" data-value="aquitaine-id">
                <button type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li class="geo-choice-item select-option" data-value="auvergne-id">
                <button type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li class="geo-choice-item select-option" data-value="Alsace">
                <button type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li class="geo-choice-item select-option" data-value="Aquitaine-id">
                <button type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li class="geo-choice-item select-option" data-value="auvergne-id">
                <button type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li class="geo-choice-item select-option" data-value="basse-normandie-id">
                <button type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            <li class="geo-choice-item select-option" data-value="Aquitaine-id">
                <button type="submit" name="geo_filter" value="aquitaine-id">Aquitaine</button>
            </li>
            <li class="geo-choice-item select-option" data-value="auvergne-id">
                <button type="submit" name="geo_filter" value="auvergne-id">Auvergne</button>
            </li>
            <li class="geo-choice-item select-option" data-value="basse-normandie-id">
                <button type="submit" name="geo_filter" value="basse-normandie-id">Basse-Normandie</button>
            </li>
            
        </ul>
    </form>
</template>