
{% include "home/main_form/_form_start.html.twig" %}

    <div class="form-row">

        {% include "home/main_form/_category.html.twig" %}
        {% include "home/main_form/_q.html.twig" %}
        {% include "home/main_form/_location.html.twig" %}
        {% include "home/main_form/_submit.html.twig" %}

    </div>
    <div class="form-row filters-row">
        {% include "product/_filters.html.twig" %}
    </div>

  


{% include "home/main_form/_form_end.html.twig" %}
    
    