<div class="searchpage-search-sort">
    <div
        class="search-sort-select js-select"
        data-optionstemplate="#search-sort-options-template"
        data-currentchoicevalue=""
        >
        <span class="current-choice-label"></span>
        <svg class="icon">
            <use xlink:href="/img/svg/sprite.svg#expand-more"></use>
        </svg>
    </div>
</div>