{% extends "base.html.twig" %}

{% block js %}
    <script src="/js/views/product/index.js" type="module" defer></script>
{% endblock %}

{% block body %}


<section class="main main-searchpage">
        {% include "product/_main_searchpage_form.html.twig" %}
</section>

<section class="banner-adds">
    <img src="img/pub.jpg" alt="publicité">
</section>

<section class="results searchpage-results">
    <h1 class="results-title">Annonces : Toute la France</h1>
    <div class="results-controls">
        <div class="searchpage-search-sort">
            <div
                class="search-sort-select js-select"
                data-optionstemplate="#search-sort-options-template"
                data-currentchoicevalue=""
                >
                <span class="current-choice-label"></span>
                <svg class="icon">
                    <use xlink:href="/img/svg/sprite.svg#expand-more"></use>
                </svg>
            </div>
        </div>
        <button class="save-search btn btn-orange">
            <svg class="icon i-left">
                <use xlink:href="/img/svg/sprite.svg#notifications"></use>
            </svg>
            <span>Sauvegarder la recherche</span>
        </button>
    </div>
    <main class="results-main">
        <ul class="results-list">
            <li>
                <a class="results-item product-card urgent-tag urgent-tag-top-left" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">4</div>
                    </div>
                    <div class="product-card-body pro-tag pro-tag-top-right">
                        <h2 class="product-card-title">PROMO LIT COMPLET</h2>
                        <p class="product-card-price">450 €</p>
                        <p class="chip-item">Livraison possible</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">Ameublement</p>
                            <p class="product-card-location">Argenteuil 95100</p>
                            <p class="product-card-date">Aujourd'hui, 09:39</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a class="results-item product-card in-cart" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">3</div>
                    </div>
                    <div class="product-card-body">
                        <h2 class="product-card-title">Game of Thrones Saison 6 Steelboo...</h2>
                        <p class="product-card-price price-down">25 €</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">DVD - Films</p>
                            <p class="product-card-location">Livry-Gargan 93190</p>
                            <p class="product-card-date">Aujourd'hui, 08:45</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a class="results-item product-card" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">3</div>
                    </div>
                    <div class="product-card-body">
                        <h2 class="product-card-title">promo lit complet</h2>
                        <p class="product-card-price">450 €</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">Ameublement</p>
                            <p class="product-card-location">Argenteuil 95100</p>
                            <p class="product-card-date">Aujourd'hui, 09:39</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a class="results-item product-card" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">17</div>
                    </div>
                    <div class="product-card-body">
                        <h2 class="product-card-title">promo lit complet</h2>
                        <p class="product-card-price">450 €</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">Ameublement</p>
                            <p class="product-card-location">Argenteuil 95100</p>
                            <p class="product-card-date">Aujourd'hui, 09:39</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a class="results-item product-card" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">3</div>
                    </div>
                    <div class="product-card-body">
                        <h2 class="product-card-title">promo lit complet</h2>
                        <p class="product-card-price">450 €</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">Ameublement</p>
                            <p class="product-card-location">Argenteuil 95100</p>
                            <p class="product-card-date">Aujourd'hui, 09:39</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a class="results-item product-card" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">3</div>
                    </div>
                    <div class="product-card-body">
                        <h2 class="product-card-title">promo lit complet</h2>
                        <p class="product-card-price">450 €</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">Ameublement</p>
                            <p class="product-card-location">Argenteuil 95100</p>
                            <p class="product-card-date">Aujourd'hui, 09:39</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a class="results-item product-card" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">3</div>
                    </div>
                    <div class="product-card-body">
                        <h2 class="product-card-title">promo lit complet</h2>
                        <p class="product-card-price price-down">450 €</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">Ameublement</p>
                            <p class="product-card-location">Argenteuil 95100</p>
                            <p class="product-card-date">Aujourd'hui, 09:39</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a class="results-item product-card" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">3</div>
                    </div>
                    <div class="product-card-body">
                        <h2 class="product-card-title">promo lit complet</h2>
                        <p class="product-card-price price-down">450 €</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">Ameublement</p>
                            <p class="product-card-location">Argenteuil 95100</p>
                            <p class="product-card-date">Aujourd'hui, 09:39</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a class="results-item product-card" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">3</div>
                    </div>
                    <div class="product-card-body">
                        <h2 class="product-card-title">promo lit complet</h2>
                        <p class="product-card-price price-down">450 €</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">Ameublement</p>
                            <p class="product-card-location">Argenteuil 95100</p>
                            <p class="product-card-date">Aujourd'hui, 09:39</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a class="results-item product-card" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">3</div>
                    </div>
                    <div class="product-card-body">
                        <h2 class="product-card-title">promo lit complet</h2>
                        <p class="product-card-price price-down">450 €</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">Ameublement</p>
                            <p class="product-card-location">Argenteuil 95100</p>
                            <p class="product-card-date">Aujourd'hui, 09:39</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a class="results-item product-card" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">3</div>
                    </div>
                    <div class="product-card-body">
                        <h2 class="product-card-title">promo lit complet</h2>
                        <p class="product-card-price price-down">450 €</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">Ameublement</p>
                            <p class="product-card-location">Argenteuil 95100</p>
                            <p class="product-card-date">Aujourd'hui, 09:39</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a class="results-item product-card" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">3</div>
                    </div>
                    <div class="product-card-body">
                        <h2 class="product-card-title">promo lit complet</h2>
                        <p class="product-card-price price-down">450 €</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">Ameublement</p>
                            <p class="product-card-location">Argenteuil 95100</p>
                            <p class="product-card-date">Aujourd'hui, 09:39</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a class="results-item product-card" href="#">
                    <div class="product-card-img">
                        <div class="product-card-img-number">3</div>
                    </div>
                    <div class="product-card-body">
                        <h2 class="product-card-title">promo lit complet</h2>
                        <p class="product-card-price price-down">450 €</p>
                        <div class="product-card-footer">
                            <p class="product-card-category">Ameublement</p>
                            <p class="product-card-location">Argenteuil 95100</p>
                            <p class="product-card-date">Aujourd'hui, 09:39</p>
                        </div>
                        <svg class="icon product-card-favorite">
                            <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <svg class="icon product-card-favorite favorite-fill">
                            <use xlink:href="/img/svg/sprite.svg#favorite-fill"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <button class="save-search-sticky btn btn-orange">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#notifications"></use>
                </svg>
                <span>Sauvegarder la recherche</span>
            </button>
            <div class="pagination results-pagination">
                <a href="#" class="pagination-item pagination-arrow pagination-left disabled">    
                    <svg class="icon">
                        <use xlink:href="/img/svg/sprite.svg#chevron-left"></use>
                    </svg>
                </a>
                <a href="#" class="pagination-item pagination-number active">1</a>
                <a href="#" class="pagination-item pagination-number">2</a>
                <a href="#" class="pagination-item pagination-number">3</a>
                <a href="#" class="pagination-item pagination-arrow pagination-right">    
                    <svg class="icon">
                        <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </div>
        </ul>
        <aside class="sidebar">
            <div class="sidebar-pub"></div>
        </aside>
    </main>
</section>
    
    {% include "layouts/js_templates/home/main_form/main_form_templates.html.twig" %}
    {% include "layouts/js_templates/product/search_sort_options.html.twig" %}
{% endblock %}