{% extends "base.html.twig" %}

{% block js %}
    <script src="/js/views/product/index.js" type="module" defer></script>
{% endblock %}

{% block body %}


<section class="main main-searchpage">
        {% include "product/_main_searchpage_form.html.twig" %}
</section>


    
    {% include "layouts/js_templates/home/main_form/main_form_templates.html.twig" %}
{% endblock %}