<section class="footer-block">

    <div class="top-footer">
        <div class="top-footer-category">
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Emploi</a></p>
                <p><a href="#" class="footer-sub-link">Offres d'emploi</a></p>
                <p><a href="#" class="footer-sub-link">Offres d'emploi Cadres</a></p>
                <p><a href="#" class="footer-sub-link">Formations Professionnelles</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Véhicules</a></p>
                <p><a href="#" class="footer-sub-link">Voitures</a></p>
                <p><a href="#" class="footer-sub-link">Motos</a></p>
                <p><a href="#" class="footer-sub-link">Caravaning</a></p>
                <p><a href="#" class="footer-sub-link">Utilitaires</a></p>
                <p><a href="#" class="footer-sub-link">Camions</a></p>
                <p><a href="#" class="footer-sub-link">Nautisme</a></p>
                <p><a href="#" class="footer-sub-link">Equipement auto</a></p>
                <p><a href="#" class="footer-sub-link">Equipement caravaning</a></p>
                <p><a href="#" class="footer-sub-link">Equipement nautisme</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Immobilier</a></p>
                <p><a href="#" class="footer-sub-link">Ventes immobilières</a></p>
                <p><a href="#" class="footer-sub-link">Immobilier Neuf</a></p>
                <p><a href="#" class="footer-sub-link">Locations</a></p>
                <p><a href="#" class="footer-sub-link">Colocations</a></p>
                <p><a href="#" class="footer-sub-link">Bureaux  Commerces</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Vacances</a></p>
                <p><a href="#" class="footer-sub-link">Locations & Gîtes</a></p>
                <p><a href="#" class="footer-sub-link">Chambres d'hôtes</a></p>
                <p><a href="#" class="footer-sub-link">Campings</a></p>
                <p><a href="#" class="footer-sub-link">Hébergements insolites</a></p>
                <p><a href="#" class="footer-sub-link">Hôtels</a></p>
                <p><a href="#" class="footer-sub-link">Ventes privées vacances</a></p>
                <p><a href="#" class="footer-sub-link">Locations en Espagne</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Loisirs</a></p>
                <p><a href="#" class="footer-sub-link">DVD - Films</a></p>
                <p><a href="#" class="footer-sub-link">CD - Musique</a></p>
                <p><a href="#" class="footer-sub-link">Livres</a></p>
                <p><a href="#" class="footer-sub-link">Vélos</a></p>
                <p><a href="#" class="footer-sub-link">Hôtels</a></p>
                <p><a href="#" class="footer-sub-link">Ventes privées vacances</a></p>
                <p><a href="#" class="footer-sub-link">Locations en Espagne</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Animaux</a></p>
                <p><a href="#" class="footer-sub-link">Animaux</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Mode</a></p>
                <p><a href="#" class="footer-sub-link">Vêtements</a></p>
                <p><a href="#" class="footer-sub-link">Chaussures</a></p>
                <p><a href="#" class="footer-sub-link">Livres</a></p>
                <p><a href="#" class="footer-sub-link">Vélos</a></p>
                <p><a href="#" class="footer-sub-link">Hôtels</a></p>
                <p><a href="#" class="footer-sub-link">Ventes privées vacances</a></p>
                <p><a href="#" class="footer-sub-link">Locations en Espagne</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Multimédia</a></p>
                <p><a href="#" class="footer-sub-link">Informatique</a></p>
                <p><a href="#" class="footer-sub-link">Chaussures</a>
                <p><a href="#" class="footer-sub-link">Livres</a></p>
                <p><a href="#" class="footer-sub-link">Vélos</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Services</a></p>
                <p><a href="#" class="footer-sub-link">Prestations de services</a></p>
                <p><a href="#" class="footer-sub-link">Billetterie</a></p>
                <p><a href="#" class="footer-sub-link">Livres</a></p>
                <p><a href="#" class="footer-sub-link">Vélos</a></p>
                <p><a href="#" class="footer-sub-link">Hôtels</a></p>
                <p><a href="#" class="footer-sub-link">Ventes privées vacances</a></p>
                <p><a href="#" class="footer-sub-link">Locations en Espagne</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Maison</a></p>
                <p><a href="#" class="footer-sub-link">Prestations de services</a></p>
                <p><a href="#" class="footer-sub-link">Billetterie</a></p>
                <p><a href="#" class="footer-sub-link">Livres</a></p>
                <p><a href="#" class="footer-sub-link">Vélos</a></p>
                <p><a href="#" class="footer-sub-link">Hôtels</a></p>
                <p><a href="#" class="footer-sub-link">Ventes privées vacances</a></p>
                <p><a href="#" class="footer-sub-link">Locations en Espagne</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Matériel Professionnel</a></p>
                <p><a href="#" class="footer-sub-link">Prestations de services</a></p>
                <p><a href="#" class="footer-sub-link">Billetterie</a></p>
                <p><a href="#" class="footer-sub-link">Livres</a></p>
                <p><a href="#" class="footer-sub-link">Vélos</a></p>
                <p><a href="#" class="footer-sub-link">Hôtels</a></p>
                <p><a href="#" class="footer-sub-link">Ventes privées vacances</a></p>
                <p><a href="#" class="footer-sub-link">Locations en Espagne</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Divers</a></p>
                <p><a href="#" class="footer-sub-link">Autres</a></p>
            </article>
        </div>
        <div class="ht footer-hr"></div>
        <div class="top-footer-geo">
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Ouest</a></p>
                <p><a href="#" class="footer-sub-link">Basse-Normandie</a></p>
                <p><a href="#" class="footer-sub-link">Bretagne</a></p>
                <p><a href="#" class="footer-sub-link">Pays de la Loire</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Sud-Ouest</a></p>
                <p><a href="#" class="footer-sub-link">Basse-Normandie</a></p>
                <p><a href="#" class="footer-sub-link">Bretagne</a></p>
                <p><a href="#" class="footer-sub-link">Pays de la Loire</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Sud-Est</a></p>
                <p><a href="#" class="footer-sub-link">Corse</a></p>
                <p><a href="#" class="footer-sub-link">Languedoc-Roussillon</a></p>
                <p><a href="#" class="footer-sub-link">Pays de la Loire</a></p>
                <p><a href="#" class="footer-sub-link">Pays de la Loire</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Est</a></p>
                <p><a href="#" class="footer-sub-link">Corse</a></p>
                <p><a href="#" class="footer-sub-link">Languedoc-Roussillon</a></p>
                <p><a href="#" class="footer-sub-link">Pays de la Loire</a></p>
                <p><a href="#" class="footer-sub-link">Pays de la Loire</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Nord</a></p>
                <p><a href="#" class="footer-sub-link">Haute-Normandie</a></p>
                <p><a href="#" class="footer-sub-link">Languedoc-Roussillon</a></p>
                <p><a href="#" class="footer-sub-link">Pays de la Loire</a></p>
                <p><a href="#" class="footer-sub-link">Pays de la Loire</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Centre</a></p>
                <p><a href="#" class="footer-sub-link">Auvergne</a></p>
                <p><a href="#" class="footer-sub-link">Languedoc-Roussillon</a></p>
                <p><a href="#" class="footer-sub-link">Pays de la Loire</a></p>
                <p><a href="#" class="footer-sub-link">Pays de la Loire</a></p>
            </article>
            <article class="top-footer-article">
                <p><a href="#" class="footer-title-link">Drom</a></p>
                <p><a href="#" class="footer-sub-link">Guadeloupe</a></p>
                <p><a href="#" class="footer-sub-link">Martinique</a></p>
                <p><a href="#" class="footer-sub-link">Guyane</a></p>
            </article>
        </div>
    </div>
    <div class="sub-footer">
        <div class="sub-footer-cols">
            <article class="sub-footer-article">
                <p class="footer-title">à propos du bon coin</p>
                <p><a href="#" class="footer-sub-link">Qui sommes-nous ?</a></p>
                <p><a href="#" class="footer-sub-link">Nous rejoindre</a></p>
                <p><a href="#" class="footer-sub-link">Nos engagements</a></p>
                <p><a href="#" class="footer-sub-link">Nous rejoindre</a></p>
                <p><a href="#" class="footer-sub-link">Nos engagements</a></p>
            </article>
            <article class="sub-footer-article">
                <p class="footer-title">Nos applications</p>
                <div class="store-icons">
                    <a href="#" class="footer-sub-icon-link">
                        <img class="app-store-badge" src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"alt="app store"/>  
                    </a>
                    <a href="#" class="footer-sub-icon-link">
                        <img class="google-play-badge" src="/img/icons/google-play-badge.png"alt="google play store"/>  
                    </a>
                    <a href="#" class="footer-sub-icon-link">
                        <img class="app-store-badge" src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"alt="app store"/>  
                    </a>
                </div>
            </article>
            <article class="sub-footer-article">
                <p class="footer-title">Informations légales</p>
                <p><a href="#" class="footer-sub-link">Conditions générales d'utilisation</a></p>
                <p><a href="#" class="footer-sub-link">Référencement et classement des annonces</a></p>
                <p><a href="#" class="footer-sub-link">Conditions générales d'utilisation</a></p>
                <p><a href="#" class="footer-sub-link">Référencement et classement des annonces</a></p>
                <p><a href="#" class="footer-sub-link">Conditions générales d'utilisation</a></p>
                <p><a href="#" class="footer-sub-link">Référencement et classement des annonces</a></p>
                <p><a href="#" class="footer-sub-link">Conditions générales d'utilisation</a></p>
            </article>
            <article class="sub-footer-article">
                <p class="footer-title">Nos solutions pros</p>
                <p><a href="#" class="footer-sub-link">Publicités</a></p>
                <p><a href="#" class="footer-sub-link">Professionnels de l'immobilier</a></p>
                <p><a href="#" class="footer-sub-link">Publicités</a></p>
                <p><a href="#" class="footer-sub-link">Professionnels de l'immobilier</a></p>
                <p><a href="#" class="footer-sub-link">Publicités</a></p>
                <p><a href="#" class="footer-sub-link">Professionnels de l'immobilier</a></p>
                <p><a href="#" class="footer-sub-link">Publicités</a></p>
                <p><a href="#" class="footer-sub-link">Professionnels de l'immobilier</a></p>
            </article>
            <article class="sub-footer-article">
                <p class="footer-title">Des questions ?</p>
                <p><a href="#" class="footer-sub-link">Aide</a></p>
                <p><a href="#" class="footer-sub-link">Le service de paiement sécurisé et la livraison</a></p>
                <p><a href="#" class="footer-sub-link">Aide</a></p>
                <p><a href="#" class="footer-sub-link">Le service de paiement sécurisé et la livraison</a></p>
                <p><a href="#" class="footer-sub-link">Aide</a></p>
            </article>

            <article class="sub-footer-article">
                <p class="footer-title">Vous êtes à l'étranger ?</p>
                <button 
                    class="js-strangers js-select"
                    data-optionstemplate="#strangers_options"
                    data-currentchoicevalue=""
                    >
                    <span class="current-choice-label">
                        <svg class="icon i-left">
                            <use xlink:href="/img/svg/sprite.svg#flag-icons-tk"></use>
                        </svg>
                        <span>France</span>
                    </span>
                    <svg class="icon">
                        <use xlink:href="/img/svg/sprite.svg#expand-more"></use>
                    </svg>
                </button>
            </article>
        </div>
        <div class="sub-footer-inter">
            <ul>
                <li class="footer-sub-link">leboncoin :</li>
                <li><a href="#" class="footer-sub-link">AVendreALouer</a></li>
                <li><a href="#" class="footer-sub-link">leboncoin Immobilier Neuf</a></li>
                <li><a href="#" class="footer-sub-link">L'argus</a></li>
                <li><a href="#" class="footer-sub-link">Agriaffaires</a></li>
                <li><a href="#" class="footer-sub-link">MachineryZone</a></li>
                <li><a href="#" class="footer-sub-link">Truckscorner</a></li>
                <li><a href="#" class="footer-sub-link">Locasun</a></li>
                <li><a href="#" class="footer-sub-link">Locasun-vp</a></li>
                <li><a href="#" class="footer-sub-link">Videdressing</a></li>
                <li><a href="#" class="footer-sub-link">LeDénicheur</a></li>
                <li><a href="#" class="footer-sub-link">Younited Crédit</a></li>
            </ul>
        </div>
        <div class="sub-footer-bottom">
            <p>leboncoin 2006-2022</p>
            <p>
                <span>Retrouvez-nous sur</span>
                <a href="#">
                    <svg class="icon icon-footer-media">
                        <use xlink:href="/img/svg/sprite.svg#facebook"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon icon-footer-media">
                        <use xlink:href="/img/svg/sprite.svg#instagram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon icon-footer-media">
                        <use xlink:href="/img/svg/sprite.svg#pinterest"></use>
                    </svg>
                </a>
            </p>
        </div>
    </div>

</section>

{% include "layouts/js_templates/footer/strangers/strangers_options.html.twig" %}