<template id="main-form-category-template">

        <header class="main-form-slider-topbar">
            {% set title = 'Catégories' %}
            {% include "layouts/js_templates/_topbar.html.twig" %}
        </header>

        <ul class="main-form-category-list">
            <li class="main-form-category-item default"
                data-value=""
                data-label="Catégories"
                data-iconleft="true"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#list"></use>
                </svg>
                <span class="main-form-category-label">Toutes catégories</span>
            </li>

            <li class="main-form-category-item"
                data-value="vacances-id"
                data-label="Vacances"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#sun"></use>
                </svg>
                <span class="main-form-category-label">Vacances</span>
                <svg class="icon i-right">
                    <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                </svg>
            </li>
            <li class="main-form-category-item"
                data-value="emploi-id"
                data-label="Emploi"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#cases"></use>
                </svg>
                <span class="main-form-category-label">Emploi</span>
                <svg class="icon i-right">
                    <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                </svg>
            </li>
            <li class="main-form-category-item"
                data-value="vehicule-id"
                data-label="Véhicules"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#car"></use>
                </svg>
                <span class="main-form-category-label">Véhicules</span>
                <svg class="icon i-right">
                    <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                </svg>
            </li>
            <li class="main-form-category-item"
                data-value="immo-id"
                data-label="Immobilier"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#home"></use>
                </svg>
                <span class="main-form-category-label">Immobilier</span>
                <svg class="icon i-right">
                    <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                </svg>
            </li>
            <li class="main-form-category-item"
                data-value="mode-id"
                data-label="Mode"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#fashion"></use>
                </svg>
                <span class="main-form-category-label">Mode</span>
                <svg class="icon i-right">
                    <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                </svg>
            </li>
            <li class="main-form-category-item"
                data-value="maison-id"
                data-label="Maison"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#chair"></use>
                </svg>
                <span class="main-form-category-label">Maison</span>
                <svg class="icon i-right">
                    <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                </svg>
            </li>
            <li class="main-form-category-item"
                data-value="multimedia-id"
                data-label="Multimédia"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#phone"></use>
                </svg>
                <span class="main-form-category-label">Multimédia</span>
                <svg class="icon i-right">
                    <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                </svg>
            </li>
            <li class="main-form-category-item"
                data-value="loisirs-id"
                data-label="Loisirs"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#sports"></use>
                </svg>
                <span class="main-form-category-label">Loisirs</span>
                <svg class="icon i-right">
                    <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                </svg>
            </li>
            <li class="main-form-category-item"
                data-value="animaux-id"
                data-label="Animaux"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#pets"></use>
                </svg>
                <span class="main-form-category-label">Animaux</span>
                <svg class="icon i-right">
                    <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                </svg>
            </li>
            <li class="main-form-category-item"
                data-value="mat-pro-id"
                data-label="Matériel Professionnel"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#forklift"></use>
                </svg>
                <span class="main-form-category-label">Matériel Professionnel</span>
                <svg class="icon i-right">
                    <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                </svg>
            </li>
            <li class="main-form-category-item"
                data-value="services-id"
                data-label="Services"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#handshake"></use>
                </svg>
                <span class="main-form-category-label">Services</span>
                <svg class="icon i-right">
                    <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                </svg>
            </li>
            <li class="main-form-category-item"
                data-value="divers-id"
                data-label="Divers"
            >
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#more-horiz"></use>
                </svg>
                <span class="main-form-category-label">Divers</span>
                <svg class="icon i-right">
                    <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
                </svg>
            </li>
        </ul>

</template>


<template id="main-form-q-template">
    <header class="main-form-slider-topbar">
        {% set title = 'Que recherchez-vous ?' %}
        {% include "layouts/js_templates/_topbar.html.twig" %}
    </header>
</template>

<template id="main-form-location-template">
    <header class="main-form-slider-topbar">
        {% set title = 'Où cherchez-vous ?' %}
        {% include "layouts/js_templates/_topbar.html.twig" %}
    </header>
</template>