<div class="form-group form-checkbox">
    <input class="js-radio js-radio-slider" type="checkbox" id="deliverable" name="deliverable" value="deliverable">
    <label for="deliverable">
        <div class="special-checkbox">
            <div class="special-checkbox-ball">
                <svg class="icon i-check">
                    <use xlink:href="/img/svg/sprite.svg#check"></use>
                </svg>
                <svg class="icon i-close">
                    <use xlink:href="/img/svg/sprite.svg#close"></use>
                </svg>
            </div>
        </div>
        Voir également les annonces disponibles en livraison
    </label>
    <div class="form-help js-info-opener js-delivery-info"
            data-template="#delivery-info-template"
            data-container=".js-delivery-info"
            data-closer=".delivery-info .js-info-closer"    
        >
        <svg class="icon i-help">
            <use xlink:href="/img/svg/sprite.svg#help"></use>
        </svg>
    </div>
</div>