
<div class="filters-opener">
    <span>Tous les filtres</span>
    <svg class="icon i-right">
        <use xlink:href="/img/svg/sprite.svg#chevron-right"></use>
    </svg>
</div>

<div class="filters">
    
    <div class="filters-group">
        {% include "home/main_form/_price.html.twig" %}
    </div>
    <p>Types de vendeurs</p>
</div>
