    
    <div class="form-group form-submit">
        <button class="btn btn-blue form-box" type="submit">Rechercher (<span class="js-search-total-results"></span>)</button>
    </div>

    <!-- sliders gérés en js -->
    <div class="main-form-slider" data-contain="category-slider"></div>  
    <div class="main-form-slider" data-contain="input-slider"></div>  
</form>