<div class="form-group form-input">
    <svg class="icon i-left i-location">
        <use xlink:href="/img/svg/sprite.svg#location"></use>
    </svg>
    <svg class="icon i-left i-location-fill">
        <use xlink:href="/img/svg/sprite.svg#location-fill"></use>
    </svg>
    <input 
        class="main-form-input main-form-location location-slider-opener js-auto-suggest suggest-location form-box" 
        data-template="#main-form-location-template"
        data-closer=".i-return"
        data-maxwidth="1050"
        type="text" 
        name="location" 
        id="location" 
        placeholder="Saisissez une ville et un rayon"
        autocomplete="off">
</div>