<template id="strangers_options">
    <ul class="strangers-list select-list">
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-ae"></use>
                </svg>
                <span>Afrique du Sud</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-tk"></use>
                </svg>
                <span>Allemagne</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-ae"></use>
                </svg>
                <span>Australie</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-ae"></use>
                </svg>
                <span>Autriche</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-ae"></use>
                </svg>
                <span>Belgique</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-ae"></use>
                </svg>
                <span>Biélorussie</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-ae"></use>
                </svg>
                <span>Brésil</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-ae"></use>
                </svg>
                <span>Canada</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-tk"></use>
                </svg>
                <span>Espagne</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-ae"></use>
                </svg>
                <span>Hongrie</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-ae"></use>
                </svg>
                <span>Irlande</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-tk"></use>
                </svg>
                <span>Italie</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-ae"></use>
                </svg>
                <span>Mexique</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-ae"></use>
                </svg>
                <span>Pays-Bas</span>
            </a>
        </li>
        <li class="strangers-item">
            <a href="#" class="select-option">
                <svg class="icon i-left">
                    <use xlink:href="/img/svg/sprite.svg#flag-icons-tk"></use>
                </svg>
                <span>Singapour</span>
            </a>
        </li>
    </ul>
</template>