<nav class="sub-nav">
    <a href="#" class="sub-nav-item">
        <span>Immobilier</span>
    </a>
    <a href="#" class="sub-nav-item">
        <span>Véhicules</span>
    </a>
    <a href="#" class="sub-nav-item">
        <span>Vacances</span>
    </a>
    <a href="#" class="sub-nav-item">
        <span>Emplois</span>
    </a>
    <a href="#" class="sub-nav-item active">
        <span>Mode</span>
    <a href="#" class="sub-nav-item">
    <span>Maison</span>
    </a>
    <a href="#" class="sub-nav-item">
        <span>Multimédia</span>
    </a>
    <a href="#" class="sub-nav-item">
        <span>Loisirs</span>
    </a>
    <a href="#" class="sub-nav-item">
        <span>Matériel Professionnel</span>
    </a>
    <a href="#" class="sub-nav-item">
        <span>Autres</span>
    </a>
</nav>