<ul class="sub-nav">
    <li class="sub-nav-item">
        <a href="#">Immobilier</a>
    </li>
    <li class="sub-nav-item">
        <a href="#">Véhicules</a>
    </li>
    <li class="sub-nav-item">
        <a href="#">Vacances</a>
    </li>
    <li class="sub-nav-item">
        <a href="#">Emplois</a>
    </li>
    <li class="sub-nav-item">
        <a href="#">Mode</a>
    </li>
    <li class="sub-nav-item">
        <a href="#">Maison</a>
    </li>
    <li class="sub-nav-item">
        <a href="#">Multimédia</a>
    </li>
    <li class="sub-nav-item">
        <a href="#">Loisirs</a>
    </li>
    <li class="sub-nav-item">
        <a href="#">Matériel Professionnel</a>
    </li>
    <li class="sub-nav-item">
        <a href="#">Autres</a>
    </li>
</ul>