<nav class="top-nav">
    <ul class="nav-left">
        <li class="nav-left-item nav-logo">
                <svg 
                    class="hidden-nav-opener icon i-menu"
                    data-content=".navbar .top-nav"
                    data-closer=".hidden-nav-closer"
                    data-maxwidth="1050"
                >
                    <use xlink:href="/img/svg/sprite.svg#menu"></use>
                </svg>
            <a href="{{ path('home_index') }}">
                <svg class="icon i-logo">
                    <use xlink:href="/img/svg/sprite.svg#leboncoin"></use>
                </svg>
            </a>
        </li>
        <li class="nav-left-item">
            <a href="#">
                <svg class="icon">
                    <use xlink:href="/img/svg/sprite.svg#add_circle"></use>
                </svg>
                <span>Déposer une annonce</span>
            </a>
        </li>
        <li class="nav-left-item">
            <a href="{{ path('product_index') }}">
                <svg class="icon">
                    <use xlink:href="/img/svg/sprite.svg#search"></use>
                  </svg>
                <span>Rechercher</span>
            </a>
        </li>
    </ul>
    <ul class="nav-right">
        <li class="nav-right-item">
            <a href="#">
                <svg class="icon">
                    <use xlink:href="/img/svg/sprite.svg#notifications"></use>
                </svg>
                <span>Mes recherches</span>
            </a>
        </li>
        <li class="nav-right-item active">
            <a href="#">
                <svg class="icon">
                    <use xlink:href="/img/svg/sprite.svg#favorite"></use>
                  </svg>
                <span>Favoris</span>
            </a>
        </li>
        <li class="nav-right-item">
            <a href="#">
                <svg class="icon">
                    <use xlink:href="/img/svg/sprite.svg#comment"></use>
                  </svg>
                <span>Messages</span>
            </a>
        </li>
        <li class="nav-right-item">
            <a href="#">
                <svg class="icon">
                    <use xlink:href="/img/svg/sprite.svg#account_circle"></use>
                </svg>
                <span>bayaro</span>
            </a>
        </li>
    </ul>
    <button class="hidden-nav-closer">
        <img src="img/icons/close_FILL0_wght400_GRAD0_opsz48.png" width="30px" height="30px">
    </button>
</nav>

  
  
  
  
  
  
  