<header class="navbar-block">
    <div class="container">
        <nav class="navbar">
            {% include "layouts/navigation/__top_nav.html.twig" %}
            {% include "layouts/navigation/__sub_nav.html.twig" %}
        </nav>
    </div>
</header>



<!-- HIDDEN NAV géré en JS -->

<nav class="hidden-nav"></nav>  